html,body{
  height:100%;
}
body{
  background:url("./second.png") no-repeat center center;
}
body:before{
  content:"1421056004306";
}
body:after{
  content:"1421056004306";
  display:block;
  height:4em;
  background:url(http://berabou.me/bower_components/vectorizer/images/ootani_oniji_1x.png);
}