body{
  height:100%;
  background:url("./second.png") no-repeat center center;
}
body:before{
  content:"1421113951651";
}
body:after{
  content:"1421113951651";
  display:block;
  height:4em;
  background:url('http://berabou.me/bower_components/vectorizer/images/ootani_oniji_1x.png');
}